/*docs/stylesheets/dark-theme.css*/

[data-md-color-scheme="slate"] {
	--md-primary-fg-color: #803B20;
	--md-primary-bg-color: #292529;
	--md-default-bg-color: #020202;
	--md-accent-fg-color: #E27B4D;
}
