/*docs/stylesheets/typography.css*/

.md-copyright,
.md-copyright__highlight {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
